<p id="notice"><%= notice %></p>

<p>
  <strong>What we believe:</strong>
  <%= @summary.what_we_believe %>
</p>

<%= link_to 'Edit', edit_summary_path(@summary) %> |
<%= link_to 'Back', summaries_path %>
