<%- model_class = Bulletin -%>
 <% provide(:title, "Bulletins" ) %>
 
	<br>
<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text">Bulletins</span> </td>
  <td><hr class="round_line_hoz" /></td>
</table>
 <hr class="round_line_hoz2 " /> 
 
 <br>
 
	 <% if user_signed_in? %>   
	  <% if policy(Bulletin.new).edit?  %>
&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to t('.step_1', :default => t("helpers.links.new Bulletin")),
            bulletins_step_1_path,
            :class => 'btn btn-primary' %>
		 
			<br>
			<br>
		 <% end %> 
	 <% end %>
			
				
<div class="col-md-9 ">
	<ul class="thumbnails">
		
	<%= render @bulletins %>
 
	</ul>

</div>


  
