<%- model_class = Advertisement -%>
 <% provide(:title, "New Advertisement" ) %>

 
<table width="100%" class="table_zero"> 
 <td style="width:5px; padding: 0 50px; white-space: nowrap;"><span class="main_text">New Advertisement</span> </td>
  <td><hr class="round_line_hoz" /></td>
</table>
 
  
<%= render :partial => 'form' %>
