<div class="row">
 <div class="span10 pull-center">
   
  <%= display_event_picture(@event) %>
  <br>
  <% if user_signed_in? %>
   if can? :edit, :events  
<% if @event.events_pictures.present? %>
<% for  picture in @event.events_pictures %>
 
	 <%= link_to "Remove Picture",
               events_picture_path(picture.id),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-flat' %>
		 
<% end %>
  else  

 <%= link_to t('.picture', :default => t("helpers.links.Add a Picture")),
               events_pictures_step_1_path(:event_id => @event.id), :class => 'btn btn-flat btn-success'  %>

 end 



<% end %>
  <% end %>

</div>
</div>
 