
	<div id="myCarousel" class="carousel slide col-md-8 " >
		
			<ol class="carousel-indicators">
		  
				<% @carousel_images.each.with_index  do |carousel_image, index| %> 
							<% if index == 0 %> 
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li> 
						 <% else %>	
						<li data-target="#myCarousel" data-slide-to="#{index}"></li>
					
						  <% end %>
	 			 <% end %>
			 	
			</ol>
		
		<div class="carousel-inner">
		 
		 <% @carousel_images.each.with_index  do |carousel_image, index| %>
		    
				<% if index == 0 %> 
	 				<div class="item active">
	 
			 		   <% else %>
			    	<div class="item">
			    <% end %> 
		 	
	 
				<%= display_carousel_image(carousel_image) %>
		 	 
	  	  
	  	     <% if carousel_image.event_id.present?%>
			 		<div class="carousel-caption">
			 		<h4><%= carousel_image.carousel_image_name.html_safe %></h4>
			 	 		<p><%= carousel_image_happen_when(carousel_image)%> <%= link_to 'Learn More', carousel_image_path(carousel_image), :class => "pull-right btn btn-mini-flat btn-primary"%> </p>
			 		</div> 
						 
	  	      <% end %>
	  	 
		 		 </div>
		  
			<% end %>
			
		</div>
		

		<a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
		
 
		 

