 
<nav class="navbar navbar  navbar-fixed-top">
  <div class="container">
    <div class="navbar-header masthead">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
	  <%= link_to image_tag("main_logo_final.png", :size => "216x44" ), root_path, :class=> 'navbar-brand'%>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>
